// Base
@import "./base/base";
@import "./base/reset";

// Blocks
@import "./blocks/titles";
@import "./blocks/buttons";
@import "./blocks/products";
@import "./blocks/slider";
@import "./blocks/articles";
@import "./blocks/menu-burger";
@import "./blocks/menu-nav";

// OwlCarousel Theme
@import "./owlcarousel-testimonial-theme/vars";
@import "./owlcarousel-testimonial-theme/theme";

// Sections
@import "./sections/header";
@import "./sections/history";
@import "./sections/popular-product";
@import "./sections/cta";
@import "./sections/popular-menu";
@import "./sections/testimonial";
@import "./sections/reservation";
@import "./sections/news";
@import "./sections/footer";
