.articles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 36px;

    &__item {
        display: flex;
        flex-direction: column;
        width: 366px;
        background-color: #1c1814;
        outline: 0px solid #000;
        transition: all 0.2s linear;

        &:hover {
            outline: 1px solid #c99e71;
        }

        /* Tablet */
        @media (max-width: 1199px) {
            width: 270px;
        }

        /* Mobile XS */
        @media (max-width: 599px) {
            width: 290px;
        }
    }

    &__img {
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 20px 24px 24px 24px;
    }

    &__author {
        display: flex;
        justify-content: space-between;
    }

    &__name {
        span {
            color: #c99e71;
        }
    }

    &__date {
    }

    &__text {
        flex-grow: 1;
        margin-top: 16px;
        font-family: "Righteous";
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        white-space: nowrap;
        text-transform: capitalize;

        & > * {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        /* Mobile */
        @media (max-width: 899px) {
            font-size: 18px;
        }
    }

    &__sign {
        align-self: start;
        position: relative;
        margin-top: 32px;
        padding-right: 32px;
        line-height: 1.2;
        color: #c99e71 !important;
        transition: all 0.2s linear;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 0px;
            width: 24px;
            height: 24px;
            transform: translateY(-50%);
            background: url("./../img/news/arrow-right.svg") no-repeat;
        }

        /* Mobile */
        @media (max-width: 899px) {
            margin-top: 20px;
        }
    }

    /* Tablet */
    @media (max-width: 1199px) {
        column-gap: 30px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        row-gap: 30px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
}
