.menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: opacity 0.2s linear, top 0s linear 0.2s;

    & > * {
        font-size: 28px;
        line-height: 1.2;
    }

    & > * + * {
        margin-top: 30px;
    }

    &--active {
        top: 0;
        opacity: 0.9;
        transition: top 0s linear, opacity 0.2s linear;
    }
}
