.menu-burger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    z-index: 999;

    &__middle {
        position: relative;
        width: 40px;
        height: 5px;
        background-color: #fff;
        border-radius: 30px;
        transition-delay: 0.2s;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 40px;
            height: 5px;
            background-color: #fff;
            border-radius: 30px;
            transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
        }

        &::before {
            top: -10px;
        }

        &::after {
            top: 10px;
        }
    }

    &--active {
        .menu-burger {
            &__middle {
                background-color: transparent;

                &::before {
                    top: 0;
                    transform: rotate(45deg);
                    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
                }

                &::after {
                    top: 0;
                    transform: rotate(-45deg);
                    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
                }
            }
        }
    }
}
