.products {
    display: flex;
    // justify-content: center;
    gap: 36px;
    flex-wrap: wrap;
    margin-bottom: 56px;

    /* Tablet */
    @media (max-width: 1199px) {
        // justify-content: center;
        gap: 30px;
        margin-bottom: 34px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        flex-direction: column;
        gap: 20px;
    }
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 366px;
    padding: 48px 48px 36px;
    background-color: #121315;
    transition: all 0.2s linear;

    &__img {
        width: 270px;
        height: 343px;
        margin-bottom: 36px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /* Tablet */
        @media (max-width: 1199px) {
            width: 210px;
        }

        /* Mobile XS */
        @media (max-width: 599px) {
            width: 250px;
        }
    }

    .rating {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        height: 20px;
        line-height: 1;
        color: #c99e71;
        transition: all 0.2s linear;

        & > * + * {
            margin-left: 13px;
        }
    }

    .stars {
        display: flex;
        align-items: center;

        .star-fill {
            fill: #c99e71;
        }
    }

    .title-4 {
        transition: all 0.2s linear;

        /* Mobile XS */
        @media (max-width: 599px) {
            font-size: 18px;
        }
    }

    .price {
        margin-top: 20px;
        font-size: 18px;
        transition: all 0.2s linear;

        span {
            color: #c99e71;
        }

        /* Mobile XS */
        @media (max-width: 599px) {
            font-size: 16px;
        }
    }

    &__button {
        display: inline-block;
        position: relative;
        height: 0;
        padding-left: 56px;
        padding-right: 20px;
        margin-top: 0;
        font-family: "Urbanist";
        font-weight: 600;
        font-size: 0;
        line-height: 0;
        text-transform: unset;
        color: #ffffff;
        background-color: #c99e71;
        opacity: 0;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 20px;
            width: 24px;
            height: 24px;
            transform: translateY(-50%);
            background: url("./../img/products/shopping-bag.svg") no-repeat;
        }

        &:hover {
            background-color: #e9b883;
        }
    }

    &:hover {
        .rating {
            height: 0;
            margin: 0;
            opacity: 0;
        }

        .title-4 {
            margin-bottom: 38px;
        }

        .price {
            height: 0;
            margin: 0;
            opacity: 0;
        }

        .product__button {
            height: 48px;
            font-size: 18px;
            line-height: 48px;
            opacity: 1;
            transition: all 0.2s linear;
        }
    }

    /* Tablet */
    @media (max-width: 1199px) {
        width: 270px;
        padding: 30px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        width: 290px;
        padding: 20px;
    }
}
