.cta {
    padding-top: 70px;
    padding-bottom: 70px;

    .container {
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 70px 80px 80px;
        background-color: #1c1814;

        /* Tablet */
        @media (max-width: 1199px) {
            column-gap: 40px;
            padding: 60px;
        }

        /* Mobile */
        @media (max-width: 899px) {
            flex-direction: column;
            row-gap: 30px;
            padding: 40px;
        }

        /* Mobile XS */
        @media (max-width: 599px) {
            row-gap: 20px;
            padding: 20px;
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 404px;
        height: 380px;

        img {
            max-height: 100%;
        }

        /* Tablet */
        @media (max-width: 1199px) {
            width: 300px;
        }

        /* Mobile */
        @media (max-width: 899px) {
            width: 490px;
        }

        /* Mobile XS */
        @media (max-width: 599px) {
            width: 230px;
            height: 230px;
        }
    }

    &__content {
        width: 535px;

        .title-3 {
            margin-bottom: 36px;

            /* Mobile */
            @media (max-width: 899px) {
                margin-bottom: 20px;
            }

            /* Mobile XS */
            @media (max-width: 599px) {
                margin-bottom: 15px;
            }
        }

        .button-s {
            align-self: center;
        }

        /* Tablet */
        @media (max-width: 1199px) {
            width: 410px;
        }

        /* Mobile */
        @media (max-width: 899px) {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    &__text {
        margin-bottom: 36px;
        text-transform: capitalize;
        opacity: 0.6;

        & > * + * {
            margin-top: 15px;
        }

        /* Mobile XS */
        @media (max-width: 599px) {
            margin-bottom: 20px;
        }
    }

    /* Tablet */
    @media (max-width: 1199px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
