.header-mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    padding-bottom: 0;
    z-index: 99;

    .logo {
        z-index: 99;

        /* Mobile XS */
        @media (max-width: 599px) {
            width: 60px;
        }
    }

    /* Mobile */
    @media (max-width: 899px) {
        display: flex;
    }
}

.header-top {
    font-family: "inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 1;

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: auto;
        max-width: 1400px;
        padding: 30px 15px;
    }

    /* Tablet */
    @media (max-width: 1199px) {
        font-size: 16px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        display: none;
    }
}

.header-top__nav-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 15px;

    & > * {
        min-height: 30px;
        line-height: 30px;
    }

    & > * + * {
        margin-left: 48px;

        /* Tablet */
        @media (max-width: 1199px) {
            margin-left: 32px;
        }
    }

    /* Tablet */
    @media (max-width: 1199px) {
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top__nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 15px;

    & > * + * {
        margin-left: 48px;

        /* Tablet */
        @media (max-width: 1199px) {
            margin-left: 32px;
        }
    }
}

.nav-right {
    &__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        & > * {
            min-height: 30px;
            line-height: 30px;
        }

        & > * + * {
            margin-left: 48px;
        }
    }

    &__link {
    }

    &__icons {
        display: flex;

        > * {
            display: flex;
        }

        & > * + * {
            margin-left: 48px;
        }
    }

    &__icon {
        svg {
            stroke: #ffffff;
            transition: stroke 0.2s linear;
        }
    }

    &__icon:hover {
        svg {
            stroke: #c99e71;
        }
    }
}

.header-main {
    position: relative;
    height: 739px;
    margin-left: auto;
    margin-right: auto;

    &__bg {
        height: 100%;
        margin-left: auto;
        margin-right: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        padding-top: 60px;
        transform: translateX(-50%);
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 100%;
        max-width: 530px;
        // padding-top: 147px;
        // padding-bottom: 166px;
    }

    .title-1 {
        margin-bottom: 32px;
    }

    &__text {
        margin-bottom: 64px;
        max-height: 240px;
        font-size: 20px;
        text-transform: capitalize;
        // overflow: scroll;

        & > * + * {
            margin-top: 15px;
        }

        /* Mobile */
        @media (max-width: 899px) {
            font-size: 18px;
            line-height: 1.5;
        }

        /* Mobile XS */
        @media (max-width: 599px) {
            line-height: 1.3;
            max-height: 180px;
            overflow: scroll;
        }
    }

    /* Mobile */
    @media (max-width: 899px) {
        height: 600px;
    }
}
