.news {
    padding-top: 70px;
    padding-bottom: 70px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Tablet */
    @media (max-width: 1199px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
