.popular-menu {
    padding-top: 70px;
    padding-bottom: 70px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Tablet */
    @media (max-width: 1199px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.menu {
    display: flex;
    flex-wrap: wrap;
    row-gap: 36px;
    column-gap: 40px;

    &__item {
        display: flex;
        align-items: center;
        width: 565px;
        padding: 24px;
        color: #ffffff;
        border: 1px solid #32323d;
        transition: all 0.2s linear;

        &:hover {
            border-color: #c99e71;
        }

        /* Tablet */
        @media (max-width: 1199px) {
            width: 420px;
            padding: 15px;
            line-height: 1.25;
        }

        /* Mobile */
        @media (max-width: 899px) {
            flex-direction: column;
            row-gap: 20px;
            width: 270px;
        }

        /* Mobile XS */
        @media (max-width: 599px) {
            width: 290px;
        }
    }

    &__img {
        flex-shrink: 0;
        width: 72px;
        height: 72px;
        margin-right: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /* Mobile */
        @media (max-width: 899px) {
            width: 240px;
            height: 240px;
            margin: 0;
        }

        /* Mobile XS */
        @media (max-width: 599px) {
            width: 260px;
            height: 260px;
        }
    }

    .title-4 {
        flex-grow: 1;
        margin-right: 20px;
        text-align: left;
        text-transform: none;

        /* Tablet */
        @media (max-width: 1199px) {
            font-size: 20px;
        }
    }

    .price {
        color: #c99e71;

        /* Mobile */
        @media (max-width: 899px) {
            align-self: end;
        }
    }

    /* Tablet */
    @media (max-width: 1199px) {
        gap: 30px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        justify-content: center;
    }
}
