.reservation {
    padding-top: 70px;
    padding-bottom: 70px;

    .container {
        display: flex;

        /* Mobile */
        @media (max-width: 899px) {
            flex-direction: column;
        }
    }

    .map {
        position: relative;
        width: 585px;
        height: 652px;
        background-color: #c99e71;
        overflow: hidden;

        > * {
            width: 100%;
            height: 100%;
        }

        /* Tablet */
        @media (max-width: 1199px) {
            width: 435px;
        }

        /* Mobile */
        @media (max-width: 899px) {
            width: 570px;
            height: 400px;
        }

        /* Mobile XS */
        @media (max-width: 599px) {
            width: 290px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 585px;
        height: 652px;
        padding: 72px 48px;
        background-color: #1c1814;

        .title-2 {
            margin-bottom: 12px;
        }

        .title-3 {
            margin-bottom: 56px;

            /* Mobile */
            @media (max-width: 899px) {
                margin-bottom: 30px;
            }

            /* Mobile XS */
            @media (max-width: 599px) {
                margin-bottom: 20px;
            }
        }

        .form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .form__input + .form__input {
                margin-top: 24px;
            }

            .form__input {
                width: 100%;
                height: 64px;
                padding-left: 20px;
                padding-right: 20px;
                line-height: 64px;
                color: #ffffff;
                background-color: #14110e;
                opacity: 0.6;

                /* Mobile XS */
                @media (max-width: 599px) {
                    height: 54px;
                    line-height: 54px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }

            .form__input:last-of-type {
                margin-bottom: 56px;

                /* Mobile */
                @media (max-width: 899px) {
                    margin-bottom: 35px;
                }
            }
        }

        /* Tablet */
        @media (max-width: 1199px) {
            width: 435px;
        }

        /* Mobile */
        @media (max-width: 899px) {
            width: 570px;
            height: auto;
            padding: 40px;
        }

        /* Mobile XS */
        @media (max-width: 599px) {
            width: 290px;
            padding: 20px;
        }
    }

    /* Tablet */
    @media (max-width: 1199px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
